@model FS_Project.Models.ViewTruyen
@{
    ViewBag.Title = "Chi tiết truyện";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Chuongtruyens = (List<FS_Project.Context.ChuongTruyen>)ViewBag.Chuongtruyen;
    var Chuongtruyenmois = (List<FS_Project.Context.ChuongTruyen>)ViewBag.Chuongtruyenmoi;
}

<link rel="stylesheet" href="~/Content/StyleFS-ChiTietTruyen.css">
<div class="body" style="margin: 60px 70px;">
    <div class="chitiettruyen">
        <div class="col_1">
            <div class="tieude">
                <h2>Thông tin truyện</h2>
                <hr>
            </div>
            <h3 class="title">@Model.tentruyen</h3>
            <div class="khung">
                <div class="khungchitiet">
                    <div class="truyen">
                        <div class="anhtruyen">
                            <img style="border-radius: 5px;" src="~/images/imgTruyen/@Model.anhtruyen"
                                 alt="@Model.tentruyen" itemprop="image"/>
                        </div>
                    </div>
                    <div class="info">
                        <div>
                            <h3>Tác giả:</h3>
                            <a itemprop="author" href="@Url.Action("Index","TacGia", new {id = Model.idTacGia})"
                               title="@Model.tentacgia">@Model.tentacgia</a>
                        </div>
                        <div>
                            <h3>Thể loại:</h3>
                            <a itemprop="genre" href="@Url.Action("Index","TheLoai", new {id = Model.idTheLoai})" title="@Model.tentheloai">@Model.tentheloai</a>
                        </div>
                        <div>
                            <h3>Trạng thái:</h3>
                            <span class="text-success">@Model.trangthai</span>
                        </div>
                    </div>
                </div>
                <div class="tomtat">
                    <section class="cottruyen">
                        <p style="text-align: justify; ">@Model.tomtat</p>
                        <p style="text-align: justify; "><br></p>
                    </section>
                    <div class="chuongmoi">
                        <div class="cacchuongmoi">
                            <h3>Các chương mới nhất</h3>
                        </div>
                        <ul class="motchuongmoi">
                            @foreach (var ctm in Chuongtruyenmois)
                            {
                                <li>
                                    <a href="@Url.Action("DocTruyen","ChiTietTruyen", new {idTruyen = ctm.id_Truyen , soChuong = ctm.SoChuong})" title="@ctm.TenChuong">
                                        <span class="chapter-text"><span>@ctm.TenChuong</span></span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row title-list">
        </div>
        <div class="danhsachchuong">
            <div class="title-danhsachchuong">
                <h2>Danh sách chương</h2>
            </div>
            <div class="dschuong">
                <div class="cotchuong">
                    <ul class="dscotchuong">
                        @foreach (var ct in Chuongtruyens)
                        {
                            <li>
                                <a href="@Url.Action("DocTruyen","ChiTietTruyen", new {idTruyen = ct.id_Truyen , soChuong = ct.SoChuong} )" title="@ct.Truyen.TenTruyen - @ct.TenChuong">
                                    <span class="chapter-text"><span>@ct.TenChuong</span></span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

