@model FS_Project.Models.ViewTruyen
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Chuongtruyens = (List<FS_Project.Context.ChuongTruyen>)ViewBag.Chuongtruyen;
    var Chuongtruyenmois = (List<FS_Project.Context.ChuongTruyen>)ViewBag.Chuongtruyenmoi;
}

<link rel="stylesheet" href="~/Content/StyleFS-ChiTietTruyen.css">
<div class="body" style="margin: 60px 70px;">
    <div class="chitiettruyen">
        <div class="col_1">
            <div class="tieude">
                <h2>Thông tin truyện</h2>
                <hr>
            </div>
            <h3 class="title">@Model.tentruyen</h3>
            <div class="khung">
                <div class="khungchitiet">
                    <div class="truyen">
                        <div class="anhtruyen">
                            <img style="border-radius: 5px;" src="~/images/imgTruyen/@Model.anhtruyen"
                                 alt="@Model.tentruyen" itemprop="image"/>
                        </div>
                    </div>
                    <div class="info">
                        <div>
                            <h3>Tác giả:</h3>
                            <a itemprop="author" href="#"
                               title="@Model.tentacgia">@Model.tentacgia</a>
                        </div>
                        <div>
                            <h3>Thể loại:</h3>
                            <a itemprop="genre" href="#" title="@Model.tentheloai">@Model.tentheloai</a>
                        </div>
                        <div>
                            <h3>Trạng thái:</h3>
                            <span class="text-success">@Model.trangthai</span>
                        </div>
                    </div>
                </div>
                <div class="tomtat">
                    <section class="cottruyen">
                        <p style="text-align: justify; ">@Model.tomtat</p>
                        <p style="text-align: justify; "><br></p>
                    </section>
                    <div class="btnxemthem">
                        <a class="btnxt" title="Xem thêm">Xem thêm »</a>
                    </div>
                    <div class="chuongmoi">
                        <div class="cacchuongmoi">
                            <h3>Các chương mới nhất</h3>
                        </div>
                        <ul class="motchuongmoi">
                            @foreach (var ctm in Chuongtruyenmois)
                            {
                                <li>
                                    <a href="#" title="@ctm.TenChuong">
                                        <span class="chapter-text"><span>@ctm.TenChuong</span></span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row title-list">
        </div>
        <div class="danhsachchuong">
            <div class="title-danhsachchuong">
                <h2>Danh sách chương</h2>
            </div>
            <div class="dschuong">
                <div class="cotchuong">
                    <ul class="dscotchuong">
                        @foreach (var ct in Chuongtruyens)
                        {
                            <li>
                                <a href="#" title="@ct.TenChuong">
                                    <span class="chapter-text"><span>@ct.TenChuong</span></span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="cotchuong">
                    <ul class="dscotchuong">
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-26"
                               title="Đô Thị Thần Nhân - Chương 26">
                                <span class="chapter-text">Chương 26</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-27"
                               title="Đô Thị Thần Nhân - Chương 27">
                                <span class="chapter-text">Chương 27</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-28"
                               title="Đô Thị Thần Nhân - Chương 28">
                                <span class="chapter-text">Chương 28</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-29"
                               title="Đô Thị Thần Nhân - Chương 29">
                                <span class="chapter-text">Chương 29</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-30"
                               title="Đô Thị Thần Nhân - Chương 30">
                                <span class="chapter-text">Chương 30</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-31"
                               title="Đô Thị Thần Nhân - Chương 31">
                                <span class="chapter-text">Chương 31</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-32"
                               title="Đô Thị Thần Nhân - Chương 32">
                                <span class="chapter-text">Chương 32</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-33"
                               title="Đô Thị Thần Nhân - Chương 33">
                                <span class="chapter-text">Chương 33</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-34"
                               title="Đô Thị Thần Nhân - Chương 34">
                                <span class="chapter-text">Chương 34</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-35"
                               title="Đô Thị Thần Nhân - Chương 35">
                                <span class="chapter-text">Chương 35</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-36"
                               title="Đô Thị Thần Nhân - Chương 36">
                                <span class="chapter-text">Chương 36</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-37"
                               title="Đô Thị Thần Nhân - Chương 37">
                                <span class="chapter-text">Chương 37</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-38"
                               title="Đô Thị Thần Nhân - Chương 38">
                                <span class="chapter-text">Chương 38</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-39"
                               title="Đô Thị Thần Nhân - Chương 39">
                                <span class="chapter-text">Chương 39</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-40"
                               title="Đô Thị Thần Nhân - Chương 40">
                                <span class="chapter-text">Chương 40</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-41"
                               title="Đô Thị Thần Nhân - Chương 41">
                                <span class="chapter-text">Chương 41</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-42"
                               title="Đô Thị Thần Nhân - Chương 42">
                                <span class="chapter-text">Chương 42</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-43"
                               title="Đô Thị Thần Nhân - Chương 43">
                                <span class="chapter-text">Chương 43</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-44"
                               title="Đô Thị Thần Nhân - Chương 44">
                                <span class="chapter-text">Chương 44</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-45"
                               title="Đô Thị Thần Nhân - Chương 45">
                                <span class="chapter-text">Chương 45</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-46"
                               title="Đô Thị Thần Nhân - Chương 46">
                                <span class="chapter-text">Chương 46</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-47"
                               title="Đô Thị Thần Nhân - Chương 47">
                                <span class="chapter-text">Chương 47</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-48"
                               title="Đô Thị Thần Nhân - Chương 48">
                                <span class="chapter-text">Chương 48</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-49"
                               title="Đô Thị Thần Nhân - Chương 49">
                                <span class="chapter-text">Chương 49</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://doctruyen.me/do-thi-than-nhan/chuong-50"
                               title="Đô Thị Thần Nhân - Chương 50">
                                <span class="chapter-text">Chương 50</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>

