
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var truyennoibat = (List<FS_Project.Context.Truyen>)ViewBag.truyennoibat;
    var truyenmoi = (List<FS_Project.Context.Truyen>)ViewBag.truyenmoi;
}
<link rel="stylesheet" href="~/Content/StyleFS-TrangChu.css">
<div class="body" style="margin: 60px 70px;">
    <div class="truyennoibat">
        <h2 class="txttnb"><i>Truyện nổi bật</i></h2>
        <div class="row1">
            @foreach (var tnb in truyennoibat)
            {
                <div class="tnb">
                    <a style="text-decoration: none; color: black" href="@Url.Action("Index","ChiTietTruyen", new {id = tnb.id_Truyen})">
                        <img style="width: 195.656px; height: 293.023px; border-radius: 4px;" src="~/images/imgTruyen/@tnb.AnhTruyen" title="@tnb.TenTruyen">
                        <h4>@tnb.TenTruyen</h4>
                    </a>
                </div>
            }
        </div>
    </div>
    <div style="background-color: #ebebeb; height: 10px;"></div>
    <div class="main">
        <div class="truyenmoi">
            <h2 class="txttm"><i>Truyện mới</i></h2>
            <div class="row2">
                @foreach (var tm in truyenmoi)
                {
                    <div class="tm">
                        <a style="text-decoration: none; color: black" href="@Url.Action("Index","ChiTietTruyen", new {id = tm.id_Truyen})">
                            <img style="width: 195.656px; height: 293.023px; border-radius: 4px;" src="~/images/imgTruyen/@tm.AnhTruyen" title="@tm.TenTruyen">
                            <h4>@tm.TenTruyen</h4>
                        </a>
                    </div>
                }
            </div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
                </div>
        </div>
        <div class="line" style="width: 5px;"></div>
        <div class="theloai">
            <div class="tieude">
                <h2 style="text-align: center;">Thể loại</h2>
            </div>
            <div class="row-theloai">
                <div class="col-theloai">
                <a class="" href="https://doctruyen.me/the-loai/convert" title="Truyện Convert">Convert</a>
                </div>
                <div class="col-theloai">
                <a class="" href="https://doctruyen.me/the-loai/tien-hiep" title="Truyện Tiên Hiệp">Tiên Hiệp</a>
                </div>
                <div class="col-theloai">
                <a class="" href="https://doctruyen.me/the-loai/kiem-hiep" title="Truyện Kiếm Hiệp">Kiếm Hiệp</a>
                </div>
                <div class="col-theloai">
                <a class="" href="https://doctruyen.me/the-loai/ngon-tinh" title="Truyện Ngôn Tình">Ngôn Tình</a>
                </div>
                <div class="col-theloai">
                <a class="" href="https://doctruyen.me/the-loai/dam-my" title="Truyện Đam Mỹ">Đam Mỹ</a>
                </div>
                <div class="col-theloai">
                <a class="" href="https://doctruyen.me/the-loai/quan-truong" title="Truyện Quan Trường">Quan Trường</a>
                </div>
            </div>
        </div>
    </div>
</div>

