@model FS_Project.Context.Truyen

@{
    ViewBag.Title = "ThemTruyen";
    Layout = "~/Areas/admin/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleThemTruyen.css">


<div class="tieude">
    <h2>Thêm Truyện</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TenTruyen, "Tên truyện", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTruyen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTruyen, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="combox">
            <div class="line"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.id_TacGia, "Tên tác giả", htmlAttributes: new { @class = "control-label col-md-2 comboxtieude" })
                <div class="col-md-10">
                    @Html.DropDownList("id_tacgia", (IEnumerable<SelectListItem>)ViewBag.dstacgia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_TacGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.id_TheLoai, "Tên thể loại", htmlAttributes: new { @class = "control-label col-md-2 comboxtieude" })
                <div class="col-md-10">
                    @Html.DropDownList("id_TheLoai", (IEnumerable<SelectListItem>)ViewBag.dstheloai, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_TheLoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.id_TrangThai, "Trạng Thái", htmlAttributes: new { @class = "control-label col-md-2 comboxtieude" })
                <div class="col-md-10">
                    @Html.DropDownList("id_TrangThai", (IEnumerable<SelectListItem>)ViewBag.dstrangthai, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_TrangThai, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="line"></div>
        </div>
        <div class="groupTieudeAnhtruyen">
            <div class="line"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.TieuDe, "Tiêu đề", htmlAttributes: new { @class = "control-label col-md-2 comboxtieude" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnhTruyen, "Ảnh truyện", htmlAttributes: new { @class = "control-label col-md-2 comboxtieude" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnhTruyen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnhTruyen, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="line"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GioiThieu, "Giới Thiệu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioiThieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GioiThieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group btn-them">
            <div class="btn btn-success btn-icon-split">
                <span class="icon text-white-100">
                    <i class="fas fa-check"></i>
                </span>
                <input type="submit" value="Thêm truyện" class="btn btn-default" style="color: white;" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay trở lại", "Index")
</div>
